<!DOCTYPE html>
<html>
    <head>
        <title>iToR personal webpage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/main.css">
        <script src="../static/js/vendor/jquery/jquery.js"></script>
        <script src="../static/js/main.js"></script>
    </head>
    <body>
        <div class = "main_header group">
            <ul class = "right">
                <li> <a href="#"> Home</a> </li>
                <li> <a href="#"> Projects</a> </li>
                <li> <a href="profile"> About Me</a> </li>
            </ul>
        </div>

        <div class="content center">

            <div class = "banner group">
                <div class = "css-fade-in"> HELLO, MY NAME IS <span style="color:#ff843b;">TOR</span> </div>
                <div class = "css-fade-in2"><span style="color:#ff843b;">NICE</span> TO MEET YOU <span style="color:#ff843b;">:)</span></div>
            </div>
        </div>
        <div class="container">
            <div class="hexagon">
                <p class="hex-inner">Python</p>
            </div>
            <div class="hexagon">
                <p class="hex-inner">Lua</p>
            </div>
            <div class="hexagon-photo hexagon2-photo">
                <div class="hexagon-photo-in1">
                    <div class="hexagon-photo-in2" style="background-image: url(../static/img/mee.jpg);">
                    </div>
                </div>
            </div>
            <div class="hexagon">
                <p class="hex-inner">Lua</p>
            </div>
            <div class="hexagon-even">
                <p class="hex-inner">Lua</p>
            </div>
            <div class="hexagon">
                <p class="hex-inner">Lua</p>
            </div>
            <div class="hexagon">
                <p class="hex-inner">Lua</p>
            </div>
            <div class="hexagon">
                <p class="hex-inner">Lua</p>
            </div>
            <div class="hexagon">
                <p class="hex-inner">Lua</p>
            </div>

        </div>

    </body>
</html>
